<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Poetry</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{#    <link rel="stylesheet" type="text/css" href="static/normalize.css">#}
    <link rel="stylesheet" type="text/css" href="./../static/styles.css">

</head>


<body>

<header>
    <nav>
        <ul>
            <li class="text-white"><img src="../static/package/build/svg/mark-github.svg" class="corner-logo" alt="octocat logo"></li>
            <li><input type="text" class="top-search" placeholder="Search or jump to..."></li>
            <li class="padding-left">Pull requests</li>
            <li class="padding-left">Issues</li>
            <li class="padding-left">Marketplace</li>
            <li class="padding-left">Explore</li>
            <div class="right">
                <li class="text-white"><img src="../static/package/build/svg/bell.svg" alt="bell icon"></li>
                <li class="left2 text-white"><img src="../static/package/build/svg/plus.svg" alt="plus icon"></li>
                <li class="text-white"><img src="../static/package/build/svg/triangle-down.svg" alt="down arrow"></li>
                <li class="left"><img src="{{ avatar }}" class="corner-avatar" alt="user avatar"></li>
                <li class="text-white"><img src="../static/package/build/svg/triangle-down.svg" alt=""></li>
            </div>
        </ul>
    </nav>
</header>

<main class="container big-picture">
    <div class="row margin-top">
        <div class="col-md-3 width">
            <div class="container avatar user_info_pad"><img src="{{ avatar }}" alt="my avatar" id="avatar-border">
            </div>
            <div class="container user_info_pad">
                <p class="status"  id="right-left-border">Set your status</p>
            </div>
            <div class="container user_info_pad">
                <p class="status" id="feedback-border">Give us feedback</p>
            </div>
            <div class="container user_info_pad"><h4>{{ name }}</h4></div>
            <div class="container name user_info_pad">
                SethCWilliams
            </div>
            <p class='smiley user_info_pad'><img src="../static/package/build/svg/smiley.svg" alt="smiley face"></p>
            <div class="container user_info_pad font-size">{{ bio }}</div>
            <div class="container user_info_pad fontamentals">
                <img src="../static/package/build/svg/location.svg" alt="location" class="tiny"> {{ location }}
            </div>
            <div class="container user_info_pad fontamentals blue">
                <img src="../static/package/build/svg/mail.svg" alt="email" class="tiny">
                <a type="email" href="swilliams9334@gmail.com"> {{ email }} </a>
            </div>
            <div class="container user_info_pad margin-top-2">
                <button type="button" class="one-hundred small-font">Edit</button>
            </div>
            <div class="container organizations"><a href="{{ organizations }}">Organizations</a></div>
        </div>
        <div class="col-md-9">
            {% block content %} {% endblock %}
        </div>

    </div>
</main>















 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>